*{
	margin: 0px; 
	padding: 0px;
}

/*HEADER--------------------------------------------------------------------------------------------------*/

.header_container {
	width:900px;
}

.banner > h1 {
	position:relative;
	text-shadow: 2px 2px 3px black;
	color: gray;
	line-height: 0.8em;
}

.banner {
	margin-top: 10%;
	margin-bottom: 10%;
}

#banner {
	width:100%;
	position: absolute;
	z-index: -1;
}

.maincontent {
	background-color:#ffffff;
	width:100%;
	height:100%;
	padding-top:25px;
}
.float_btn{
	float: right;
	margin-bottom:10px;
}

.button_add {
	float:left;
	margin-bottom:10px;
}
.float_left{
	float:left;
	margin: 5px;
}

/* Add form customer-------------------------------------------------------------------------------------------------- */

.radio {
	display: inline-block;
}

/* SALES--------------------------------------------------------------------------------------------------  */


.search-marginleft {
	margin-left: 25px;
}






.panel-text 
{
 font-size: 36px;
 margin-left: 310px;
 width: 460px;
 position: relative;
}
