/*HEADER--------------------------------------------------------------------------------------------------*/
.header_container {
	width:900px;
}
.banner > h1 {
	position:relative;
	text-shadow: 2px 2px 3px black;
	color: gray;
	line-height: 0.8em;
}

.banner {
	margin-top: 10%;
}

#banner {
	width:100%;
	position: absolute;
}

.panel-text 
{
 font-size: 36px;
 margin-left: 310px;
 width: 460px;
 position: relative;
}